* {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #484848;
}

#entryContainer {
  display: grid;
  grid-template-rows: 100px 20px 20px 20px;
  grid-row-gap: 5px;
  align-self: center;
  justify-self: center;
  width: 200px;
  border: 2px solid black;
}

#imageContainer {
  grid-row: 1;
  overflow: auto;
}

#image {
  margin: 0;
  height: auto;
}

#name {
  grid-row: 2;
}

#type {
  grid-row: 3;
}

#cost {
  grid-row: 4;
}